
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
}

main > aside {
    grid-column: 1 / 2;

    background-color: #171717;
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px #ffffff0d;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

main > div.main-content {
    grid-column: 2 / 3;
    background-color: #212121;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    aside {
        display: none;
    }
}
