:root {
    --side-bg-color: #171717;
    --bg-color: #212121;
    --text-color: #ffffff;
}

.light-theme {
    --side-bg-color: #171717;
    --bg-color: #212121;
    --text-color: #ffffff;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

main {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
}

main > aside.sidebar {
    grid-column: 1 / 2;
    background-color: #171717;

    display: flex;
    flex-direction: column;
}

.chat-manager {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.chat-manager > .chat-item{
    box-shadow: 0px 1px 1px #ffffff0d;
    width: 90%;
    padding: 1rem;
}

.navbar {
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 0px #ffffff0d;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
}

main > div.main-content {
    grid-column: 2 / 3;
    background-color: #212121;
    width: 100%;
    height: 100vh;
}

/* From Uiverse.io by Madflows */ 
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.theme-switch{
    transform: scale(0.6);
}

  
@media (max-width: 768px) {
    main {
        display: flex; /* Faz com que o layout seja uma única coluna */
        flex-direction: column;
    }

    main > aside.sidebar {
        display: none; 
    }
}

